[user]
    name = David Heineman
    email = dhei@stanford.edu

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current

[safe]
	directory = /afs/cs.stanford.edu/u/dhei